<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/Scripts/layer/layer.js")
    @Scripts.Render("~/Scripts/json2.js")
</head>
<body>
    <div id="divTopBar">
        <div id="divLogo">
            <span class="font_drakblue_18">@ViewBag.RootOrganization.Name</span>
        </div>
        <div id="divMainMenu">
            <table id="tableTopBar" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="td_MainMenu @if(ViewBag.MainMenu == "WeeklyReport"){@Html.Raw("td_MainMenu_active")}">
                        @Html.ActionLink("周报", "Post", "WeeklyReport", null, new { @class = "a_darkblue_18" })
                    </td>
                    <td class="td_MainMenu @if(ViewBag.MainMenu == "Settings"){@Html.Raw("td_MainMenu_active")}">
                        @Html.ActionLink("设置", "Password", "Settings", null, new { @class = "a_darkblue_18" })
                    </td>
                    <td class="td_MainMenu @if(ViewBag.MainMenu == "Introduction"){@Html.Raw("td_MainMenu_active")}">
                        @Html.ActionLink("快速入门", "Introduction", "Home", null, new { @class = "a_darkblue_18" })
                    </td>
                    <td class="td_MainMenu">&nbsp;</td>
                </tr>
            </table>
        </div>
        <div id="divTopRight">
            <table id="tableTopBar" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="td_MainMenu font_darkBlue_18">@ViewBag.User.Name</td>
                    <td class="td_MainMenu">@Html.ActionLink("退出", "Logout", "Home", null, new { @class = "a_darkblue_18" })</td>
                </tr>
            </table>
        </div>
    </div>

    <div id="divContainer" style="overflow-y: auto; ">
        @RenderBody()
    </div>

  

</body>
</html>
